   .container {
    text-align: center;
    margin: 50px;
  }
  
  .form {
    display: inline-block;
    text-align: left;
  }
  
  .label {
    display: block;
    margin-bottom: 8px;
    color:white;
  }
  
  .input {
    width: 100%;
    padding: 8px;
    padding-top:5px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  .button {
    margin-top: 10px;
    padding: 12px 16px;
    background-color: #21aba3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

 
  .container {
    max-width: 400px; /* Set the maximum width of the container */
    margin: 0 auto;   /* Center the container horizontally */
    padding: 20px;     /* Add some padding to the container */
    border: 1px solid #ccc; /* Add a border around the container */
    border-radius: 8px;    /* Optional: Add border-radius for rounded corners */
  }
  
  h1, p{
    color:white;
  }
  